<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aps.mapper.schedule.SchPlanStatMapper">

    <!-- 基础结果映射 -->
    <resultMap id="BaseResultMap" type="com.aps.entity.schedule.SchPlanStat">
        <id column="id" property="id"/>
        <result column="plan_id" property="planId"/>
        <result column="otd_rate" property="otdRate"/>
        <result column="setup_times" property="setupTimes"/>
        <result column="avg_line_load" property="avgLineLoad"/>
        <result column="created_time" property="createdTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 基础列 -->
    <sql id="Base_Column_List">
        id, plan_id, otd_rate, setup_times, avg_line_load,
        created_time, created_by, updated_time, updated_by, deleted
    </sql>

</mapper>

